* {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

a {
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: "Dongle", sans-serif;
  width: 100%;
  color: white;
}

/* -----------------------gradient colors---------------------- */
#gradient-canvas {
  width: 100%;
  height: 100vh;
  --gradient-color-1: #000000;
  --gradient-color-2: #1d007c;
  --gradient-color-3: #210097;
  --gradient-color-4: #401b67;
}

#gradient-canvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border: 0;
  z-index: -1;
}

/* ------------------------------------------------------------- */
.image_enlargement {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  z-index: 0;
  padding: 20px;
}

.image_enlargement_wrap {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 85vh;
  width: -moz-fit-content;
  width: fit-content;
}

.image_enlargement_photo {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 30px 10px black;
  border-radius: 8px;
  -o-object-fit: contain;
     object-fit: contain;
}

.close__btn {
  display: flex;
  position: absolute;
  width: 25px;
  height: 20px;
  justify-content: space-between;
  flex-direction: column;
  top: 35px;
  right: 35px;
  transition: 350ms;
  cursor: pointer;
}

.close__btn-redact {
  width: 100%;
  border-top: 2px solid #fff;
  transition: 150ms;
  position: relative;
}

/* active */
.close__btn:active {
  transform: translate3d(1px, 1px, 0);
}

.close__btn-top {
  transform: rotate(135deg);
  top: 9px;
}

.close__btn:hover .close__btn-top {
  transform: rotate(135deg);
  top: 5px;
  right: 3px;
  width: 50%;
}

.close__btn-center {
  opacity: 0;
}

.close__btn:hover .close__btn-center {
  opacity: 1;
  top: 1px;
}

.close__btn-bottom {
  transform: rotate(50deg);
  bottom: 9px;
}

.close__btn:hover .close__btn-bottom {
  width: 50%;
  transform: rotate(50deg);
  bottom: 4px;
  right: 4px;
}

/* ------------------------------------------------------------- */
.parent {
  width: 85%;
  margin: 60px 0;
  transition: 350ms;
  background: rgba(0, 0, 0, 0.5215686275);
}

header {
  display: flex;
  font-family: "Quintessential", cursive;
}

.header_Paragraph {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 20px;
  background-color: rgba(0, 0, 0, 0.6196078431);
}

.header_Paragraph_2 {
  opacity: 0.99;
  justify-content: end;
}

.header_Paragraph > b {
  font-size: 25px;
  -moz-text-align-last: end;
       text-align-last: end;
}

.download-cv {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 120px;
  background-color: #262727;
  text-transform: capitalize;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.download-cv span {
  position: relative;
  font-weight: 600;
  transition: all 350ms;
  z-index: 1;
}
.download-cv span::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -40px;
  width: 150px;
  height: 27px;
  background-color: #ffbf00;
  transform: rotate(341deg);
  transition: 300ms;
  z-index: -1;
  box-shadow: 0 0 7px 6px #ffbf00;
}
.download-cv:hover span::before {
  height: 70px;
}

.left_panel {
  width: 25%;
  min-width: 270px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.6196078431);
  cursor: pointer;
}

.imgCont {
  width: 100%;
  height: 100%;
}

.right_panel {
  width: 75%;
  position: relative;
  padding-left: 30px;
}

.top_title {
  width: 100%;
}

.top_title_2 {
  background-color: rgba(0, 0, 0, 0.6196078431);
  color: #ffbf00;
  padding: 1px;
  text-transform: capitalize;
  letter-spacing: 2px;
  padding-left: 10px;
}

main {
  display: flex;
}

.left_panel_1 {
  font-family: "Dongle", sans-serif;
}

.title_all {
  width: 100%;
  text-align: end;
  position: relative;
  padding: 0 10%;
  font-family: "Dongle", sans-serif;
  font-size: 24px;
  padding-bottom: 20px;
}
.title_all p {
  text-align: end;
}
.title_all div h3 {
  color: #ffbf00;
  margin: 0;
  text-transform: uppercase;
  font-size: 28px;
}
.title_all::after {
  content: "";
  width: 100%;
  height: 3px;
  top: 40px;
  left: 0;
  background-color: #ffbf00;
  position: absolute;
}
.title_all::before {
  content: "";
  width: 10%;
  height: 6px;
  top: 40px;
  right: 0;
  border-radius: 10px;
  background-color: #ffbf00;
  position: absolute;
}
.title_all ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  line-height: 2;
  margin: 0;
  margin-top: 20px;
}

.contact {
  width: 100%;
}

.contact > ul > li {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}

.contact > ul > li > img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-bottom: 3px;
}

.download-cv2 {
  display: none;
}

.hov:hover .change_color {
  color: #ffbf00;
  margin-left: 2px;
}

.hov:hover .scale {
  transform: rotate(20deg);
}

.Languages {
  width: 100%;
}

.Languages__cont {
  display: flex;
  justify-content: space-between;
  height: 45px;
  font-size: 24px;
}

.skills {
  width: 100%;
}

.skills_iner {
  padding-bottom: 30px;
}

.skills_iner > div {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  font-size: 24px;
  height: 45px;
}

.bottom_border {
  font-weight: 300;
  position: relative;
  cursor: default;
}

.bottom_border::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.5px;
  bottom: 6px;
  left: 0;
  background-color: #ffbf00;
  transition: 200ms;
}

.skills_iner > div:hover > .bottom_border::after {
  width: 100%;
}

.skills_title {
  color: #ffbf00;
  margin: 0;
  justify-content: flex-end !important;
  position: relative;
  margin-bottom: 20px;
}
.skills_title p {
  margin: 0;
  display: flex;
  color: #ffbf00;
  font-size: 38px;
}
.skills_title h3 {
  text-transform: uppercase;
  font-size: 30px;
}
.skills_title::after {
  content: "";
  width: 100%;
  height: 3px;
  top: 40px;
  left: 0;
  background-color: #ffbf00;
  position: absolute;
}
.skills_title::before {
  content: "";
  width: 10%;
  height: 6px;
  top: 40px;
  right: 0;
  border-radius: 10px;
  background-color: #ffbf00;
  position: absolute;
}

.skill_bar {
  width: 60%;
  border: 1px solid #ffbf00;
  height: 10px;
  border-radius: 25px;
  position: relative;
}

.skills_title_inner {
  border-radius: 25px;
  height: 10px;
  top: -1px;
  position: absolute;
  background-color: #ffbf00;
}

.child_1 {
  width: 90%;
}

.child_2 {
  width: 80%;
}

.child_3 {
  width: 70%;
}

.child_4 {
  width: 60%;
}

.child_5 {
  width: 50%;
}

.right_panel_2 {
  padding-right: 20px;
  font-family: "Poppins", sans-serif;
}
.right_panel_2 p {
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 0.8px;
}
.right_panel_2 ul {
  list-style-type: none;
}

.project {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.project > a {
  width: 49%;
  transition: 200ms;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.project > a > p {
  padding: 22px 0px 13px 0px;
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  letter-spacing: 1.3px;
}

.project > a > img {
  width: 100%;
  height: 80%;
  box-shadow: 0 0 10px 0px black;
  transition: 200ms;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.project > a:hover {
  transform: scale(0.99);
}

.title_all_2 {
  position: relative;
  width: 100%;
  font-family: "Dongle", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  padding-bottom: 20px;
  color: #ffbf00;
}
.title_all_2 h3 {
  margin: 0;
}
.title_all_2::after {
  content: "";
  width: 100%;
  height: 3px;
  top: 40px;
  background-color: #ffbf00;
  position: absolute;
  border-radius: 50px 0 0 0;
}
.title_all_2::before {
  content: "";
  width: 82px;
  height: 6px;
  top: 40px;
  border-radius: 10px;
  background-color: #ffbf00;
  position: absolute;
}

.user_photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 200ms;
}

.scale,
.change_color {
  transition: 200ms;
  cursor: pointer;
}

.contact > ul > .mob-open {
  display: none;
}

.margin_bottom {
  padding-bottom: 50px;
}

@media only screen and (max-width: 1080px) {
  .header_Paragraph {
    padding-bottom: 0;
  }
  header {
    font-size: 14px;
  }
  main {
    font-size: 14px !important;
  }
  .parent {
    width: 95%;
  }
  .project > a > p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 700px) {
  header {
    font-size: 12px;
  }
  .header_Paragraph {
    height: 45%;
  }
  .right_panel_2 > p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 595px) {
  .parent {
    width: auto;
    margin: 40px 0;
    background-color: inherit;
  }
  header {
    flex-direction: column;
    align-items: center;
    background-color: inherit;
  }
  .left_panel {
    width: 80%;
    transition: 200ms;
    width: 80%;
    min-width: 270px;
    padding-left: 0;
    margin-bottom: 0;
  }
  .right_panel {
    background-color: rgba(0, 0, 0, 0.6196078431);
    width: 80%;
    padding: 0;
  }
  .right_panel_1 {
    text-align: center;
    padding-left: 0;
    background-color: rgba(0, 0, 0, 0.5215686275);
    width: 80%;
  }
  .right_panel_2 {
    padding-right: 0;
  }
  .contact > ul > .mob-open {
    display: flex;
  }
  main {
    flex-direction: column;
    align-items: center;
  }
  .title_all_2 > h3 {
    padding-left: 40px;
  }
  .right_panel_2 > p {
    padding: 0 10px;
  }
  .title_all {
    text-align: start;
  }
  .skills_title h3 {
    width: 100%;
  }
  .header_Paragraph {
    overflow: hidden;
    height: 5px;
    background-color: #ffbf00 !important;
  }
  .download-cv2 {
    height: 30px;
    display: flex;
    align-items: center;
  }
  .header_Paragraph_1 {
    display: none;
  }
  .header_Paragraph > p,
  b {
    display: none;
  }
  .title_all::before {
    left: 0;
  }
  .skills_title::before {
    left: 0;
  }
  .close__btn:active .close__btn-top {
    transform: rotate(135deg);
    top: 5px;
    right: 3px;
    width: 50%;
  }
  .close__btn:active .close__btn-center {
    opacity: 1;
    top: 1px;
  }
  .close__btn:active .close__btn-bottom {
    width: 50%;
    transform: rotate(50deg);
    bottom: 4px;
    right: 4px;
  }
  .hov:active .change_color {
    color: #ffbf00;
    margin-left: 2px;
  }
  .hov:active .scale {
    transform: rotate(20deg);
  }
  .skills_iner > div:active > .bottom_border::after {
    width: 100%;
  }
  .project {
    padding: 0 10px;
  }
  .project > a:active {
    transform: scale(0.99);
  }
}
@media only screen and (max-width: 500px) {
  .image_enlargement_wrap {
    height: auto;
  }
}/*# sourceMappingURL=style.css.map */